<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>

</head>
<body>
<h2>Add new student</h2>
<form action="#" th:action="@{/students/create}" th:object="${studentDTO}" method="post">
    <label for="CNP">CNP</label>
    <input type="text" th:field="*{CNP}" id="CNP" >
    <span th:if="${#fields.hasErrors('CNP')}" th:errors="*{CNP}"></span>

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="name">BirthDate</label>
    <input type="date" th:field="*{birthDate}" id="birthDate">
    <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>

    <label for="name">Email</label>
    <input type="email" th:field="*{email}" id="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <input type="submit" value="Add">
</form>

</body>
</html>